<!-- Interpolation binding -->
<p>my-comp works! {{number}}</p>
<!-- Property binding-->
<h1 [textContent]="number"></h1>

<!--
  Can't bind to 'colspan' since it isn't a known property of 'td'.Angular
<table>
  <tr>
    <td [colspan]="number"></td>
  </tr>
</table>
-->

<!-- Attribut binding -->
<table>
  <tr>
    <td [attr.colspan]="number"></td>
  </tr>
</table>

<!-- Class binding -->
<h1 [class.green] = "active">Green user</h1>

<h1 [class.green] = "notActive">Black user</h1>

<!-- Style binding -->
<h1 [style.color] = "active ? 'green' : 'black'">Green user with style binding</h1>
<h1 [style.backgroundColor] = "active ? 'green' : 'black'">Green user with style binding</h1>

<!-- Event binding -->
<h1 (click)="onClick()">Click</h1>

<h1 (click)="onClickWithEvent($event)">Click with event</h1>

<input type="text" placeholder="onKeyUp event" (keyup)="onKeyUp($event)"/><br>

<input type="text" placeholder="onKeyUp with enter event" (keyup.enter)="onKeyUp($event)"/><br>

<input type="text" placeholder="onKeyUp with control z event" (keyup.control.z)="onKeyUp($event)"/><br>

          <!-- Can t change val with this method because i m using one way binding -->
<input type="text" [value] = "val" (keyup.enter)="onKeyUpOneWayBinding()" /><br>
          <!-- Can change val with this method because i m using two way binding -->
<input type="text" [(ngModel)] = "val" (keyup.enter)="onKeyUpTwoWayBinding()"/><br>

<!-- Access elements -->
  <!-- Template variable -->
<input #myInput type="text" (keyup.enter) = "onKeyUpTemplateVar(myInput)" />

<button (click)="onKeyUpTemplateVar(myInput)">Click template var</button>

  <!-- View child -->
<button (click)="onKeyUpElementChild()">Click elemennt child </button>

<!-- Directives -->
<div *ngIf = "open">Open</div>
<div *ngIf = "!open">Close</div>

<div *ngIf = "!open; else close">Open TWO </div>
<ng-template #close>
  Close TWO
</ng-template>

<div [ngSwitch]="numberOfSwitch">
  <div *ngSwitchCase="1">One</div>
  <div *ngSwitchCase="2">Two</div>
  <div *ngSwitchDefault>Three</div>
</div>

<div *ngFor="let course of courses; index as i" >
  {{i + 1 }} - {{course}}
</div>
  <!-- first element -->
<div *ngFor="let course of courses; first as i" [style.color]="i ? 'green' : 'black'"  >
  {{course}}
</div>
  <!-- Zawji -->
<div *ngFor="let course of courses; even as i" [style.color]="i ? 'red' : 'black'"  >
  {{course}}
</div>
<!-- Fardi -->
<div *ngFor="let course of courses; odd as i" [style.color]="i ? 'blue' : 'black'"  >
  {{course}}
</div>

<div [ngStyle]="{
  color: test ? 'green' : 'black',
  backgroundColor : test ? 'black' : 'green'
}"> ng Style</div>

<div [ngClass]="{
  'green': test
}"> ng Class</div>

<!-- ng Content -->
<ng-content select=".abdelkarim"></ng-content>

<!-- Input -->
<p> Hello {{myNum}}</p>

<!-- Output -->
<p (click)="onClickEventOutput()">Click output </p>
