<!-- Interpolation binding -->
<p>my-comp works! {{number}}</p>
<!-- Property binding-->
<h1 [textContent]="number"></h1>

<!--
  Can't bind to 'colspan' since it isn't a known property of 'td'.Angular
<table>
  <tr>
    <td [colspan]="number"></td>
  </tr>
</table>
-->

<!-- Attribut binding -->
<table>
  <tr>
    <td [attr.colspan]="number"></td>
  </tr>
</table>

<!-- Class binding -->
<h1 [class.green] = "active">Green user</h1>

<h1 [class.green] = "notActive">Black user</h1>

<!-- Style binding -->
<h1 [style.color] = "active ? 'green' : 'black'">Green user with style binding</h1>
<h1 [style.backgroundColor] = "active ? 'green' : 'black'">Green user with style binding</h1>

<!-- Event binding -->
<h1 (click)="onClick()">Click</h1>

<h1 (click)="onClickWithEvent($event)">Click with event</h1>

<input type="text" placeholder="onKeyUp event" (keyup)="onKeyUp($event)"/><br>

<input type="text" placeholder="onKeyUp with enter event" (keyup.enter)="onKeyUp($event)"/><br>

<input type="text" placeholder="onKeyUp with control z event" (keyup.control.z)="onKeyUp($event)"/><br>

          <!-- Can t change val with this method because i m using one way binding -->
<input type="text" [value] = "val" (keyup.enter)="onKeyUpOneWayBinding()" /><br>
          <!-- Can change val with this method because i m using two way binding -->
<input type="text" [(ngModel)] = "val" (keyup.enter)="onKeyUpTwoWayBinding()"/><br>

<!-- Access elements -->
  <!-- Template variable -->
<input #myInput type="text" (keyup.enter) = "onKeyUpTemplateVar(myInput)" />

<button (click)="onKeyUpTemplateVar(myInput)">Click template var</button>

  <!-- View child -->
<button (click)="onKeyUpElementChild()">Click elemennt child </button>


